#wrap {
  font-family: "Dongle", sans-serif;
  width: 500px; margin: 10px auto;
  border: 1px solid gray;
  padding: 10px;
}
#wrap .title{
  text-align: center;
  text-decoration: underline;
  margin: 20px;
}
#wrap hr{border: 1px solid red;}