{% extends "base.html" %}
{% block title %}Welcome Page{% endblock %}

{% block content %}
  <!-- Django 메시지를 Bootstrap Alert로 표시 -->
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show">
          ✅ {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show">
          ❌{{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}  
  <!-- students 출력 -->
  {% if students %}
    <table class="table table-striped">
      <thead>
        <tr class="table-danger">
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">major(grade학년)</th>
          <th scope="col">age</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          {% comment %} <tr onclick="location='/student/get/{{student.id}}'"> {% endcomment %}
          <tr onclick="location='{% url 'student:get' student.id %}'">
            <th scope="row">{{student.id}}</th>
            <td>{{student.name}}</td>
            <td>{{student.major}} ({{student.grade}}학년)</td>
            <td>{{student.age}}</td>
          </tr>
        {% endfor %}        
      </tbody>
    </table>
  {% else %}
    <table class="table">
      <tr><td>데이터가 없습니다</td></tr>
    </table>
  {% endif %}
{% endblock %}