/* * * * css/shoppingmall.css * * * * */
/* * * * 페이지 초기화:폰트설정, margin=0/padding=0, a, li * * * * */
@font-face {
  font-family: 'Merriweather-Regular';
  src: url('../font/Merriweather-Regular.ttf'); /* css파일 기준으로 경로 설정 */
}
@font-face {
  font-family: 'Merriweather-Light';
  src: url('../font/Merriweather-Light.ttf'); /* css파일 기준으로 경로 설정 */
}
*{
  margin: 0; padding: 0;
  font-family: 'Merriweather-Regular';
}
a{
  text-decoration: none; 
  color:black; display: block;
}
li{list-style: none;}
/********* header *********/
/********* header .gnb *********/
header .gnb{
  background-color: black;
}
header .gnb a {color:white;}
header .gnb ul{
  width: 1000px; margin: 0 auto;
  overflow: hidden;
  /* height: 30px; */line-height: 30px;
}
header .gnb ul li{
  float: left;
  width:90px; margin: 0 5px;
  text-align: center;
  /* border: 1px solid red;
  box-sizing: border-box; 확인용 */
}
/********* header .logo *********/
header .logo{
  font-family: "Pacifico", cursive;
  width:200px; margin: 30px auto;
  border: 1px solid gray;
  text-align: center;
  padding: 10px;
  font-size: 2em;
}
/********* header .hitmenu *********/
header .hitmenu ul{
  width: 1000px; margin: 0 auto 5px; /* 0 auto 5px auto */
  overflow: hidden;
}
header .hitmenu ul li{
  float: right;
  border: 1px solid black;
}
header .hitmenu ul li a{
  /*padding: 10px 30px;*/
  width: 100px; line-height: 40px; text-align: center;
}
header .hitmenu ul li:first-child{
  border-radius: 0 10px 10px 0;
}
header .hitmenu ul li:last-child{
  border-radius: 10px 0 0 10px;
}
/********* header .lnb *********/
header .lnb{
  border-top: 1px dashed #555555;
  border-bottom:1px dashed #555555 ;
}
header .lnb ul{
  width: 1000px; margin: 0 auto;
  overflow: hidden;
  height: 30px; line-height: 30px;
}
header .lnb ul li{
  float: left;
  width:115px; margin: 0 5px;
  text-align: center;
}
/********* #content *********/
#content{
  width:1000px; margin: 0 auto;
}
/********* #content .section1 *********/
#content .section1{
  overflow: hidden;
}
#content .section1 > div {
  float:left;
  /*height: 400px; line-height:400px 있으니 생략 가능 자동 height 잡힘*/
  border: 1px solid gray; box-sizing: border-box;
  text-align: center; line-height: 400px;
}
.slide_banner {width:700px;}
.side_banner  {width:300px;}
/********* #content .section2 *********/
.section2 > div{ 
  margin: 5px 0; /*위우하좌*/
  border: 1px solid gray;
}
.section2 ul{ overflow: hidden ;}
.section2 ul li{
  float: left;
  border: 1px solid gray; box-sizing: border-box;
  width: 24%; margin-left: 0.8%;
  line-height: 400px; text-align: center;
}
/********* footer *********/
footer{
  width: 1000px; margin: 0 auto;
  overflow: hidden;
}
/* footer div:nth-child(1), 
footer div:nth-child(2), 
footer div:nth-child(3)*/
footer div:nth-child(-n+3){
  float: left;
  width:33.3%;
  border: 1px solid gray; box-sizing: border-box;
  height: 100px;
}
footer div:last-child{
  clear: both; /* 앞태그에서 전달받은 float(left,right)속을 clear*/
  background-color: black; color:white;
  line-height: 50px; text-align: center;
}